body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-entry-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    width: min(80%, 30rem);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    margin:auto;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

form div * {
    outline: none;
}

form input {
    margin: 0 0.5em;
    padding: 0.5em;
}

form .submit {
    cursor: pointer;
    background-color: green;
    margin: 2em;
    padding: 1em 3em;
}

#prompt {
    text-align: center;
    margin-bottom: 1em;
    font-weight: 900;
}

#enter-todays, label {
    text-shadow: 0 0 0.1em white;
}

label {
    font-size: 1.5em;
}