.header {
    color: white;
    padding: 1em 0;
    width: 80%;
    margin: auto;
    font-weight: 900;
    font-size: 1.5rem;
}

.footer {
    color: white;
    padding-top: 1em;
    padding-bottom: 3em;
    padding: 1em 0;
    width: 80%;
    margin: auto;
    border-radius: 1em;
    border: 0.1em solid red;
}

#target-price-label {
    color: white;
    padding: 1rem;
    background: green;
    font-weight: 900;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#target-price-input {
    color: black;
    padding: 1rem;
    outline: none;
    border: 0.1em solid green;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.details {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    border-radius: 1rem;
    border: 0.1em solid red;
    margin-top: 0.2em;
    padding: 1.5rem;
}

.details .header {
    font-weight: 900;
    margin-bottom: 0.5em;
    border-bottom: 0.1em solid white;
}

.white-shadow {
    text-shadow: 0 0 0.1em white;
}

nav > div {
    width: min(100% - 4rem, 70rem);
    margin: auto;
}

.container {
    margin-top: min(20vw, 20vh);
    display:grid;
    place-items: center;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.25);
}

.container > div {
    width: 60%;
    margin: auto;
}

.outcome {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 3em;
    border-radius: 1rem;
    margin: auto;
}

.decorative {
    width: 100%;
    background-color: red;
    text-align: center;
    padding: 2rem;
    border-radius: 1em;
}

.particulars {
    width: 9rem;
}


